# Executables & Large Binaries
local-scripts/.local/bin/agy
agy
*.AppImage
*.iso
*.tar.gz
*.zip
*.bin
*.wasm
**/zjstatus.wasm
**/ziggy-darwin
**/ziggy-windows.exe

# Security, Shell History & Cache
**/.zsh_history
**/.zcompcache/
**/.zcompdump*

# Runtime state & Databases
**/aria2.session
**/session.dat
**/dht.dat
**/dht6.dat

# Media Assets & Plugin Repos
**/plugins/.repos/
sway/.config/sway/wallpaper/Wall-2.jpg

# Chặn cache và file tạm
__pycache__/
*.swp
*.bak
.cache/
