[Unit]
Description=Sway App OSD
After=graphical-session-pre.target
PartOf=graphical-session.target

[Service]
ExecStart=/bin/bash /home/mr-thai/.config/sway/scripts/app_osd.sh
Restart=always
RestartSec=2

[Install]
WantedBy=graphical-session.target
