[Unit]
Description=Udiskie Automounter
After=graphical-session-pre.target
PartOf=graphical-session.target

[Service]
ExecStart=/usr/bin/udiskie
Restart=always
RestartSec=2

[Install]
WantedBy=graphical-session.target
