[Unit]
Description=Valent (KDE Connect Alternative)
After=graphical-session-pre.target
PartOf=graphical-session.target

[Service]
ExecStart=/usr/bin/valent --gapplication-service
Restart=always
RestartSec=2

[Install]
WantedBy=graphical-session.target
